streamlit==1.10.0. # ok
#pillow==8.4.0 # ok

pandas==1.4.1 # 1.3.5
matplotlib==3.4.3 # ok
seaborn==0.11.2 # ok
numpy==1.19.5 # ok

scikit-learn==1.0.1

cloudpickle==2.0.0
pickleshare==0.7.5 

base58==2.1.1
# click==8
# protobuf~=3.19.0 # без этого не работает из-за обновления protobuf в гугле


# joblib==1.0.1 
#shap==0.40.0
#rdkit-pypi==2021.9.4
